# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/Bill/nbproject/private/
/Tutorial2/nbproject/private/
/Tutorial2/build/
/Tutorial3/nbproject/private/
/Tutorial3/build/
/Tutorial4/nbproject/private/
/Tutorial4/build/
/Tutorial7/nbproject/private/
/Tutorial7/build/
/Tutorial8/nbproject/private/
/Tutorial8/build/
/Tutorial8/dist/